---
import type { Property } from '~/types/property';
const property = Astro.props as Property;
---

<div class='pb-8'>
  <h2 class='text-2xl font-bold py-2'>Informace o nemovitosti</h2>
  <div class='flex flex-col gap-4 md:gap-2'>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Typ nemovitosti</p>
        <p>{property.propertyType}</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Typ nabídky</p>
        <p>{property.offerType}</p>
      </div>
    </div>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Dostupnost</p>
        <p>{property.availability}</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Dispozice</p>
        <p>{property.disposition}</p>
      </div>
    </div>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Konstrukce budovy</p>
        <p>{property.construction}</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Rok výstavby / Rok rekonstrukce</p>
        <p>{property.constructionYear} / {property.reconstructionYear}</p>
      </div>
    </div>
  </div>
</div>
