---
import type { Property } from '~/types/property';
const property = Astro.props as Property;
---

<div class='pb-8'>
  <h2 class='text-2xl font-bold py-2'>Detaily o nemovitosti</h2>
  <div class='flex flex-col gap-4 md:gap-2'>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Užitná plocha</p>
        <p>{property.livingArea} m²</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Počet pokojů</p>
        <p>3</p>
      </div>
    </div>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Podlaží</p>
        <p>{property.floor}</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Výtah</p>
        <p>{property.elevator ? 'Ano' : 'Ne'}</p>
      </div>
    </div>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Vytápění</p>
        <p>{property.heating}</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Vybavení</p>
        <p>{property.equipment}</p>
      </div>
    </div>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Balkon / Terasa</p>
        <p>{property.balcony ? 'Ano' : 'Ne'}</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Sklep</p>
        <p>{property.cellar ? 'Ano' : 'Ne'}</p>
      </div>
    </div>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Garáž / Parkování</p>
        <p>{property.parking}</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Stav nemovitosti</p>
        <p>{property.condition}</p>
      </div>
    </div>
  </div>
</div>
